*{
    box-sizing: border-box;
}
body{
    background-color: black;
    border: 0;
    margin: 0;
    padding: 0;
}
div{
    margin: 0;
    padding: 0;
    border: 0;
}
.home-nav{
    font-family: 'Tajawal', sans-serif;
    font-size: 6.2vmax;
    font-weight: bold;
    top: 25%;
    left: 15%;
    position: fixed;
    line-height: 95%;
    letter-spacing: 3px;
}
a{
    text-decoration: none;
    cursor: pointer;
}
.home-nav__item--white, .home-nav__item--white a{
    color: white;
    
}
.home-nav__item--purple, .home-nav__item--purple a{
    color:#d902ee;
}
.label-hello:after{
    content:"Hello,";
}
.label-hello:hover:after{
	content:"About";
}
.label-iam:after{
    content:"I am";
}
.label-iam:hover:after{
	content:"Work";
}
.label-andreea:after{
    content:"Andreea";
}
.label-andreea:hover:after{
	content:"Contact";
}
.label-error:after{
	content:"Oops!";
}
.label-error:hover:after{
	content:"Home";
}
.description{
    color:#ffd79d;
    font-family: 'Lobster', cursive;
    font-size: 5vh;
    position: fixed;
    left: 25%;
    top: 36vw;
}
.home-background-photo{
    z-index:-9;
    color: white;
    background: url("images/background.jpeg");
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 45%;
    background-repeat: no-repeat; 
    background-size: cover;
    border: 0;
    margin: 0;
    padding: 0;
    animation: bg-photo 1.2s cubic-bezier(0.5, 0.6, 0.6, 1);
}
@keyframes bg-photo {
    0%{
        opacity: 0;
        transform: scale(1.1);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}
.animate{
    animation:animate .6s cubic-bezier(0.2, 0.6, 0.2, 1);
    animation-fill-mode: backwards;
}
@keyframes animate {
	0% {opacity: 0;transform: translateX(30vh);}
	100% {opacity: 1;transform: translateX(0%);}	
}
.delay04{
    animation-delay: 0.4s;
}
.delay08{
    animation-delay: 0.8s;
}
.delay12{
    animation-delay: 1.2s;
}
.on-hover:hover {
	margin-left: 40px;
	transition: all .4s cubic-bezier(0.2, 0.6, 0.2, 1);	
}
@keyframes bounce {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-8px);
    }
}
/* footer */
footer{
    background-color: black;
    color:white;
    text-align: center;
    padding: 20px 20px;
    position: fixed;
    bottom:0%;
    font-size:15px;
}
footer a{
    text-decoration: none;
    color:#ffcce7;
    cursor: pointer;
}
@media (max-width:767px){
    .home-nav{
        line-height: 110%;
    }
    .on-hover:hover {
        margin-left: 0px;	
    }
    .tap-indication{
        text-align: center;
        color: white;
        font-size: 2.5vmax;
        position: fixed;
        bottom:4%;
        left:0%;
        width: 100%;
        animation: bounce .5s cubic-bezier(.5, .6, .6, 1) infinite alternate;
        }
    .hide-web{
            display: none;
    }
    .toggle-mobile-second{
            display:none;
    }
    .mobile-tap-area {
        background: transparent;
        position: absolute;
        width: 100%;
        height: 100%;
    }
    .description{
        top:55%;
        font-size: 4vh;
    }
    
}
@media (min-width:768px){
    .hide-mobile{
        display: none;
    }
}
@media (max-width:480px){
    .home-background-photo{
        left: -18%;
    }
    .description{
        top:50%;
    }
}